.step1{
    width: 28px;
    height: 26px;
    left: 165px;
    top: 78px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 160% */
    
    letter-spacing: -0.9px;
    
    /* green */
    
    color: #56B280;
}

.step2{
    width: 28px;
    height: 26px;
    left: 165px;
    top: 78px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 160% */
    
    letter-spacing: -0.9px;
    
    /* green */
    
    color: #56B280;
}

.step3{
    width: 28px;
    height: 26px;
    left: 165px;
    top: 78px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 160% */
    
    letter-spacing: -0.9px;
    
    /* green */
    
    color: #56B280;
}

.step4{
    width: 45px;
    height: 26px;
    left: 223px;
    top: 78px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 160% */
    
    letter-spacing: -0.9px;
    
    /* black */
    
    color: #272727;  
}

